h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
  margin-bottom: 3em;
}

li {
  list-style: none;
  border-style: solid;
  display: inline;
  padding: 2em;
  margin: 1em;
  background-color: #C8C9C7;
}

ul {
  margin: 6em;
}

body {
  background-color: #D5D9BB;
}

.background {
  background-color: blue;
}